<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- We resume the logic in empty_world.launch -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find wt_description)/worlds/empty.world"/>
    </include>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find wt_description)/models/urdf/wind_turbine.xacro'"/>

    <arg name = "x" default = "0"/>
    <arg name = "y" default = "0"/>
    <arg name = "z" default = "0"/>

    <node name = "mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model wind_turbine -x $(arg x) -y $(arg y) -z $(arg z)"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find wt_description)/config/joints.yaml" command="load" ns="/wind_turbine"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/wind_turbine" args="--namespace=/wind_turbine yaw_controller blade_controller joint_state_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/wind_turbine/joint_states" />
    </node>
</launch>